[:div
 {}
 [:markdown/heading {:level 1, :id nil} "Cybermonday Test Document"]
 [:p
  {}
  "This document will hopefully cover all the different AST node types that are"
  [:markdown/soft-line-break {}]
  "available in commonmark + the enabled features in Cybermonday."]
 [:markdown/heading {:level 2, :id nil} "Easy stuff"]
 [:p {} "Here are two different kinds of lists:"]
 [:p {} "An ordered list"]
 [:ol
  {}
  [:markdown/ordered-list-item {} [:p {} "Foo"]]
  [:markdown/ordered-list-item {} [:p {} "Bar"]]
  [:markdown/ordered-list-item {} [:p {} "Baz"]]]
 [:p {} "And unordered list"]
 [:ul
  {}
  [:markdown/bullet-list-item {} [:p {} "Test1"]]
  [:markdown/bullet-list-item {} [:p {} "Test2"]]
  [:markdown/bullet-list-item {} [:p {} "Test3"]]]
 [:p {} "We can nest the lists"]
 [:ol
  {}
  [:markdown/ordered-list-item {} [:p {} "First item"]]
  [:markdown/ordered-list-item {} [:p {} "Second item"]]
  [:markdown/ordered-list-item
   {}
   [:p {} "Third item"]
   [:ol
    {}
    [:markdown/ordered-list-item {} [:p {} "Indented item"]]
    [:markdown/ordered-list-item {} [:p {} "Indented item"]]]]
  [:markdown/ordered-list-item {} [:p {} "Fourth item"]]]
 [:ul
  {}
  [:markdown/bullet-list-item {} [:p {} "First item"]]
  [:markdown/bullet-list-item {} [:p {} "Second item"]]
  [:markdown/bullet-list-item
   {}
   [:p {} "Third item"]
   [:ul
    {}
    [:markdown/bullet-list-item {} [:p {} "Indented item"]]
    [:markdown/bullet-list-item {} [:p {} "Indented item"]]]]
  [:markdown/bullet-list-item {} [:p {} "Fourth item"]]]
 [:ol
  {}
  [:markdown/ordered-list-item {} [:p {} "First item"]]
  [:markdown/ordered-list-item {} [:p {} "Second item"]]
  [:markdown/ordered-list-item
   {}
   [:p {} "Third item"]
   [:ul
    {}
    [:markdown/bullet-list-item {} [:p {} "Indented item"]]
    [:markdown/bullet-list-item {} [:p {} "Indented item"]]]]
  [:markdown/ordered-list-item {} [:p {} "Fourth item"]]]
 [:p {} "All heading levels"]
 [:markdown/heading {:level 1, :id nil} "Heading level 1"]
 [:markdown/heading {:level 2, :id nil} "Heading level 2"]
 [:markdown/heading {:level 3, :id nil} "Heading level 3"]
 [:markdown/heading {:level 4, :id nil} "Heading level 4"]
 [:markdown/heading {:level 5, :id nil} "Heading level 5"]
 [:markdown/heading {:level 6, :id nil} "Heading level 6"]
 [:p {} "####### This shouldn't be a heading"]
 [:markdown/heading
  {:level 1, :id nil}
  "Alternative heading syntax"
  [:markdown/soft-line-break {}]
  "Heading level 1"]
 [:markdown/heading {:level 2, :id nil} "Heading level 2"]
 [:p
  {}
  "This should be one paragraph."
  [:markdown/soft-line-break {}]
  "Even though they are on different lines"]
 [:p {} "This however is a new paragraph."]
 [:p {} "We can create an hr with"]
 [:hr {}]
 [:p
  {}
  "Here is text with "
  [:strong {} "Bold"]
  ", "
  [:strong {} "bold"]
  ", "
  [:em {} "italic"]
  ", "
  [:em {} "italic"]
  ", "
  [:strong {} [:em {} "bold_italic"]]
  "."]
 [:blockquote {} [:p {} "This is a quote"]]
 [:blockquote {} [:p {} "This is a quote with " [:em {} "markdown"] " in it."]]
 [:blockquote
  {}
  [:p
   {}
   "This is a quote with "
   [:em {} "markdown"]
   " and "
   [:p {:class "my-class"} "HTML"]
   " in it"]]
 [:blockquote
  {}
  [:p {} "This is a quote"]
  [:blockquote {} [:p {} "With another quote in it"]]]
 [:p {} [:img {:src "image_url.png", :alt "An Image!", :title nil}]]
 [:p {} "Here is some code"]
 [:markdown/fenced-code-block {:language "julia"} "using LinearAlgebra\n"]
 [:p {} "Also some " [:code {} "inline code stuff"] "."]
 [:markdown/heading {:level 1, :id nil} "Links"]
 [:p
  {}
  "My favorite search engine is "
  [:a {:href "https://duckduckgo.com", :title nil} "Duck Duck Go"]
  "."]
 [:p
  {}
  "My favorite search engine is "
  [:a
   {:href "https://duckduckgo.com",
    :title "The best search engine for privacy"}
   "Duck Duck Go"]
  "."]
 [:p
  {}
  [:markdown/autolink {:href "https://www.markdownguide.org"}]
  [:markdown/soft-line-break {}]
  [:markdown/mail-link {:address "fake@example.com"}]]
 [:p
  {}
  "You can markdown links too: I love supporting the "
  [:strong {} [:a {:href "https://eff.org", :title nil} "EFF"]]
  "."
  [:markdown/soft-line-break {}]
  [:markdown/link-ref
   {:reference
    [:markdown/reference
     {:title nil,
      :label "1",
      :url "https://en.wikipedia.org/wiki/Hobbit#Lifestyle"}]}
   "hobbit-hole"]]
 [:p
  {}
  "Here is an image link:"
  [:markdown/soft-line-break {}]
  [:a
   {:href
    "https://www.flickr.com/photos/beaurogers/31833779864/in/photolist-Qv3rFw-34mt9F-a9Cmfy-5Ha3Zi-9msKdv-o3hgjr-hWpUte-4WMsJ1-KUQ8N-deshUb-vssBD-6CQci6-8AFCiD-zsJWT-nNfsgB-dPDwZJ-bn9JGn-5HtSXY-6CUhAL-a4UTXB-ugPum-KUPSo-fBLNm-6CUmpy-4WMsc9-8a7D3T-83KJev-6CQ2bK-nNusHJ-a78rQH-nw3NvT-7aq2qf-8wwBso-3nNceh-ugSKP-4mh4kh-bbeeqH-a7biME-q3PtTf-brFpgb-cg38zw-bXMZc-nJPELD-f58Lmo-bXMYG-bz8AAi-bxNtNT-bXMYi-bXMY6-bXMYv",
    :title nil}
   [:img
    {:src "/assets/images/shiprock.jpg",
     :alt "An old rock in the desert",
     :title "Shiprock, New Mexico by Beau Rogers"}]]]
 [:p
  {}
  "We should be able to escape stuff like: You use backticks (\\`code\\`) to write"
  [:markdown/soft-line-break {}]
  "inline code."]
 [:markdown/heading {:level 1, :id nil} "Non-commonmark stuff"]
 [:markdown/html-comment {} nil]
 [:p {} "Checkboxes from github"]
 [:ul
  {}
  [:markdown/task-list-item {:checked? true, :ordered? false} [:p {} "#739"]]
  [:markdown/task-list-item
   {:checked? false, :ordered? false}
   [:p {} "https://github.com/octo-org/octo-repo/issues/740"]]
  [:markdown/task-list-item
   {:checked? false, :ordered? false}
   [:p {} "Add delight to the experience when all tasks are complete :tada:"]]]
 [:p {} "Tables"]
 [:table
  {}
  [:thead
   {}
   [:tr
    {}
    [:markdown/table-cell {:header? true, :alignment nil} "First Header"]
    [:markdown/table-cell {:header? true, :alignment nil} "Second Header"]]]
  [:tbody
   {}
   [:tr
    {}
    [:markdown/table-cell {:header? false, :alignment nil} "Content Cell"]
    [:markdown/table-cell {:header? false, :alignment nil} "Content Cell"]]
   [:tr
    {}
    [:markdown/table-cell {:header? false, :alignment nil} "Content Cell"]
    [:markdown/table-cell {:header? false, :alignment nil} "Content Cell"]]]]
 [:p {} "We can do inline math with " [:markdown/inline-math {} "y=mx+b"]]
 [:p {} "We can do block math with just a code block"]
 [:markdown/fenced-code-block {:language "math"} "E=mc^2\n"]
 [:p {} "Finally, we can do footnotes"]
 [:p {} "Paragraph with a footnote reference" [:markdown/footnote {:id "1"}]]
 [:markdown/footnote-block
  {:id "1", :content "Footnote text added at the bottom of the document\n"}]
 [:markdown/reference
  {:title nil,
   :label "1",
   :url "https://en.wikipedia.org/wiki/Hobbit#Lifestyle"}]]
[:div
 {}
 [:markdown/heading {:level 1, :id nil} "Cybermonday Test Document"]
 [:p
  {}
  "This document will hopefully cover all the different AST node types that are"
  [:markdown/soft-line-break {}]
  "available in commonmark + the enabled features in Cybermonday."]
 [:markdown/heading {:level 2, :id nil} "Easy stuff"]
 [:p {} "Here are two different kinds of lists:"]
 [:p {} "An ordered list"]
 [:ol
  {}
  [:markdown/ordered-list-item {} [:p {} "Foo"]]
  [:markdown/ordered-list-item {} [:p {} "Bar"]]
  [:markdown/ordered-list-item {} [:p {} "Baz"]]]
 [:p {} "And unordered list"]
 [:ul
  {}
  [:markdown/bullet-list-item {} [:p {} "Test1"]]
  [:markdown/bullet-list-item {} [:p {} "Test2"]]
  [:markdown/bullet-list-item {} [:p {} "Test3"]]]
 [:p {} "We can nest the lists"]
 [:ol
  {}
  [:markdown/ordered-list-item {} [:p {} "First item"]]
  [:markdown/ordered-list-item {} [:p {} "Second item"]]
  [:markdown/ordered-list-item
   {}
   [:p {} "Third item"]
   [:ol
    {}
    [:markdown/ordered-list-item {} [:p {} "Indented item"]]
    [:markdown/ordered-list-item {} [:p {} "Indented item"]]]]
  [:markdown/ordered-list-item {} [:p {} "Fourth item"]]]
 [:ul
  {}
  [:markdown/bullet-list-item {} [:p {} "First item"]]
  [:markdown/bullet-list-item {} [:p {} "Second item"]]
  [:markdown/bullet-list-item
   {}
   [:p {} "Third item"]
   [:ul
    {}
    [:markdown/bullet-list-item {} [:p {} "Indented item"]]
    [:markdown/bullet-list-item {} [:p {} "Indented item"]]]]
  [:markdown/bullet-list-item {} [:p {} "Fourth item"]]]
 [:ol
  {}
  [:markdown/ordered-list-item {} [:p {} "First item"]]
  [:markdown/ordered-list-item {} [:p {} "Second item"]]
  [:markdown/ordered-list-item
   {}
   [:p {} "Third item"]
   [:ul
    {}
    [:markdown/bullet-list-item {} [:p {} "Indented item"]]
    [:markdown/bullet-list-item {} [:p {} "Indented item"]]]]
  [:markdown/ordered-list-item {} [:p {} "Fourth item"]]]
 [:p {} "All heading levels"]
 [:markdown/heading {:level 1, :id nil} "Heading level 1"]
 [:markdown/heading {:level 2, :id nil} "Heading level 2"]
 [:markdown/heading {:level 3, :id nil} "Heading level 3"]
 [:markdown/heading {:level 4, :id nil} "Heading level 4"]
 [:markdown/heading {:level 5, :id nil} "Heading level 5"]
 [:markdown/heading {:level 6, :id nil} "Heading level 6"]
 [:p {} "####### This shouldn't be a heading"]
 [:markdown/heading
  {:level 1, :id nil}
  "Alternative heading syntax"
  [:markdown/soft-line-break {}]
  "Heading level 1"]
 [:markdown/heading {:level 2, :id nil} "Heading level 2"]
 [:p
  {}
  "This should be one paragraph."
  [:markdown/soft-line-break {}]
  "Even though they are on different lines"]
 [:p {} "This however is a new paragraph."]
 [:p {} "We can create an hr with"]
 [:hr {}]
 [:p
  {}
  "Here is text with "
  [:strong {} "Bold"]
  ", "
  [:strong {} "bold"]
  ", "
  [:em {} "italic"]
  ", "
  [:em {} "italic"]
  ", "
  [:strong {} [:em {} "bold_italic"]]
  "."]
 [:blockquote {} [:p {} "This is a quote"]]
 [:blockquote {} [:p {} "This is a quote with " [:em {} "markdown"] " in it."]]
 [:blockquote
  {}
  [:p
   {}
   "This is a quote with "
   [:em {} "markdown"]
   " and "
   [:p {:class "my-class"} "HTML"]
   " in it"]]
 [:blockquote
  {}
  [:p {} "This is a quote"]
  [:blockquote {} [:p {} "With another quote in it"]]]
 [:p {} [:img {:src "image_url.png", :alt "An Image!", :title nil}]]
 [:p {} "Here is some code"]
 [:markdown/fenced-code-block {:language "julia"} "using LinearAlgebra\n"]
 [:p {} "Also some " [:code {} "inline code stuff"] "."]
 [:markdown/heading {:level 1, :id nil} "Links"]
 [:p
  {}
  "My favorite search engine is "
  [:a {:href "https://duckduckgo.com", :title nil} "Duck Duck Go"]
  "."]
 [:p
  {}
  "My favorite search engine is "
  [:a
   {:href "https://duckduckgo.com",
    :title "The best search engine for privacy"}
   "Duck Duck Go"]
  "."]
 [:p
  {}
  [:markdown/autolink {:href "https://www.markdownguide.org"}]
  [:markdown/soft-line-break {}]
  [:markdown/mail-link {:address "fake@example.com"}]]
 [:p
  {}
  "You can markdown links too: I love supporting the "
  [:strong {} [:a {:href "https://eff.org", :title nil} "EFF"]]
  "."
  [:markdown/soft-line-break {}]
  [:markdown/link-ref
   {:reference
    [:markdown/reference
     {:title nil,
      :label "1",
      :url "https://en.wikipedia.org/wiki/Hobbit#Lifestyle"}]}
   "hobbit-hole"]]
 [:p
  {}
  "Here is an image link:"
  [:markdown/soft-line-break {}]
  [:a
   {:href
    "https://www.flickr.com/photos/beaurogers/31833779864/in/photolist-Qv3rFw-34mt9F-a9Cmfy-5Ha3Zi-9msKdv-o3hgjr-hWpUte-4WMsJ1-KUQ8N-deshUb-vssBD-6CQci6-8AFCiD-zsJWT-nNfsgB-dPDwZJ-bn9JGn-5HtSXY-6CUhAL-a4UTXB-ugPum-KUPSo-fBLNm-6CUmpy-4WMsc9-8a7D3T-83KJev-6CQ2bK-nNusHJ-a78rQH-nw3NvT-7aq2qf-8wwBso-3nNceh-ugSKP-4mh4kh-bbeeqH-a7biME-q3PtTf-brFpgb-cg38zw-bXMZc-nJPELD-f58Lmo-bXMYG-bz8AAi-bxNtNT-bXMYi-bXMY6-bXMYv",
    :title nil}
   [:img
    {:src "/assets/images/shiprock.jpg",
     :alt "An old rock in the desert",
     :title "Shiprock, New Mexico by Beau Rogers"}]]]
 [:p
  {}
  "We should be able to escape stuff like: You use backticks (\\`code\\`) to write"
  [:markdown/soft-line-break {}]
  "inline code."]
 [:markdown/heading {:level 1, :id nil} "Non-commonmark stuff"]
 [:markdown/html-comment {} nil]
 [:p {} "Checkboxes from github"]
 [:ul
  {}
  [:markdown/task-list-item {:checked? true, :ordered? false} [:p {} "#739"]]
  [:markdown/task-list-item
   {:checked? false, :ordered? false}
   [:p {} "https://github.com/octo-org/octo-repo/issues/740"]]
  [:markdown/task-list-item
   {:checked? false, :ordered? false}
   [:p {} "Add delight to the experience when all tasks are complete :tada:"]]]
 [:p {} "Tables"]
 [:table
  {}
  [:thead
   {}
   [:tr
    {}
    [:markdown/table-cell {:header? true, :alignment nil} "First Header"]
    [:markdown/table-cell {:header? true, :alignment nil} "Second Header"]]]
  [:tbody
   {}
   [:tr
    {}
    [:markdown/table-cell {:header? false, :alignment nil} "Content Cell"]
    [:markdown/table-cell {:header? false, :alignment nil} "Content Cell"]]
   [:tr
    {}
    [:markdown/table-cell {:header? false, :alignment nil} "Content Cell"]
    [:markdown/table-cell {:header? false, :alignment nil} "Content Cell"]]]]
 [:p {} "We can do inline math with " [:markdown/inline-math {} "y=mx+b"]]
 [:p {} "We can do block math with just a code block"]
 [:markdown/fenced-code-block {:language "math"} "E=mc^2\n"]
 [:p {} "Finally, we can do footnotes"]
 [:p {} "Paragraph with a footnote reference" [:markdown/footnote {:id "1"}]]
 [:markdown/footnote-block
  {:id "1", :content "Footnote text added at the bottom of the document\n"}]
 [:markdown/reference
  {:title nil,
   :label "1",
   :url "https://en.wikipedia.org/wiki/Hobbit#Lifestyle"}]]
