{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        clj-commons/clj-yaml {:mvn/version "0.7.106"}
        com.vladsch.flexmark/flexmark {:mvn/version "0.62.2"}
        com.vladsch.flexmark/flexmark-ext-tables {:mvn/version "0.62.2"}
        com.vladsch.flexmark/flexmark-ext-footnotes {:mvn/version "0.62.2"}
        com.vladsch.flexmark/flexmark-ext-gfm-strikethrough {:mvn/version "0.62.2"}
        com.vladsch.flexmark/flexmark-ext-gfm-tasklist {:mvn/version "0.62.2"}
        com.vladsch.flexmark/flexmark-test-util {:mvn/version "0.62.2"}
        com.vladsch.flexmark/flexmark-ext-gitlab {:mvn/version "0.62.2"}
        hickory/hickory {:mvn/version "0.7.1"}
        thheller/shadow-cljs {:mvn/version "2.14.3"}}

 :aliases
 {:jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
        :exec-fn hf.depstar/jar
        :exec-args {:jar "target/cybermonday.jar"}}
  :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote
                       :sign-releases? true
                       :artifact "target/cybermonday.jar"}}}}
