{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        instaparse {:mvn/version "1.4.10"}
        clj-commons/clj-yaml {:mvn/version "0.7.0"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "0.10.0"}
                      org.jsoup/jsoup {:mvn/version "1.13.1"}
                      hickory {:mvn/version "0.7.1"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :uberjar {:extra-deps {seancorfield/depstar {:mvn/version "0.5.2"}}
            :main-opts ["-m" "hf.depstar.uberjar" "cybermonday.jar"
                        "-C" "-m" "kiranshila.cybermonday"]}}}
