name: Main
on:
  push:
    branches:
      - master
jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Prepare java
        uses: actions/setup-java@v2
        with:
          distribution: "adopt"
          java-version: "11"

      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@3.5
        with:
          cli: latest

      - name: Run tests
        run: clojure -M:test-clj
        shell: bash

      - name: Upload test results
        uses: actions/upload-artifact@v2
        with:
          name: test-results
          path: junit.xml

      - name: Upload code coverage
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: target/coverage/codecov.json
          fail_ci_if_error: true

      - name: Build jar
        run: clojure -T:build thinjar
        shell: bash

      - name: Push to Clojars
        env:
          CLOJARS_PASSWORD: ${{ secrets.CLOJARS_PASSWORD }}
          CLOJARS_USERNAME: ${{ secrets.CLOJARS_USERNAME }}
        run: clojure -T:build deploy
        shell: bash
